<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622179944339-jct5nlkba68bprj5i1k99g242v9pqhpm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622179944339-jct5nlkba68bprj5i1k99g242v9pqhpm</string>
	<key>API_KEY</key>
	<string>AIzaSyAT6cFkVbPD17PJgOI5UYjqsIgBX69HuhM</string>
	<key>GCM_SENDER_ID</key>
	<string>622179944339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lexit</string>
	<key>PROJECT_ID</key>
	<string>lexit-ee622</string>
	<key>STORAGE_BUCKET</key>
	<string>lexit-ee622.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622179944339:ios:9811c815d6654ade668a66</string>
</dict>
</plist>